<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>premier projet</title>
</head>
<body>
 <nav>
    <form id="monformulaire">
        <input type="text" name="q" placeholder="Rechercher...">
      </form>
    <!-- Contenu de la barre de navigation -->
    <a href="/">Accueil</a>
    <a href="../films">listes des films</a>
    <a href="../series">listes des series</a>
    <a href="../animes">listes des animes</a>
    <a href="../inscrire">s'inscrire</a>
    <a href="../login">se connecter</a>
    <a href="../contact">contact</a>
    </nav>