<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
    <script src="./js/index.js" defer></script>
    <title>O'Maya</title>
</head>
<body>
 <nav aria-label="header navigation">
    <!-- <form id="monformulaire">
        <input type="text" name="q" placeholder="Rechercher...">
      </form> -->
    <!-- Contenu de la barre de navigation -->
    <ul class="primary-navigation">  
      <li><a href="/" class="header-logo">O'Maya</a></li>
      <li><a href="/">Accueil</a></li>
      <li><a href="../films">Films</a></li>
      <li><a href="../series">Séries</a></li>
      <li><a href="../animes">Animés</a></li>
    </ul>

    <ul class="secondary-navigation">
      <li><a href="../inscrire">Création de compte</a></li>
      <li><a href="../login">Connexion</a></li>
      <li><a href="../contact">Contact</a></li>
    </div>
  </nav>

  <div class="background-navigation">
    <img class="background-image" src="./img/film-marvel.jpg">
  </div>

  <div class="header-container"></div>