<%- include('partials/header.ejs') %>
       
<section class="list-animes list">
  <div class="list-title">Animés</div>
  <div #swiperRef="" class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/naruto.jpg" alt="Naruto"></div>
      <div class="swiper-slide"><img src="/img/bleach.jpg" alt="Bleach"></div>
      <div class="swiper-slide"><img src="/img/chevalier.jpg" alt="Chevalier du Zodiac"></div>
      <div class="swiper-slide"><img src="/img/dragon.jpg" alt="Dragon Ball Z"></div>
      <div class="swiper-slide"><img src="/img/captain.jpg" alt="Captain Tsubasa"></div>
      <div class="swiper-slide"><img src="/img/ken.jpg" alt="Ken le Survivant"></div>
    </div>
  
    <div class="swiper-pagination"></div>
  </div>
       <%- include('partials/footer.ejs') %>
  </body>
</html>