<%- include('partials/header.ejs') %>

    <div class="container">
        <div class="left-section">
            <div class="left-section">
                <img src="./img/alice.jpg" alt="Image 1">
                <img src="./img/bleach.jpg" alt="Image 2">
                <img src="./img/matrix.jpg" alt="Image 3">
                <img src="./img/walking.jpg" alt="Image 4">
              </div>
          <!-- Contenu de la section de gauche -->
        </div>
<%- include('partials/footer.ejs') %>
