<%- include('partials/header.ejs') %>
    
       
    <div class="container">
        <div class="left-section">
            <div class="left-section">
                <img src="image1.jpg" alt="Image 1">
                <img src="image2.jpg" alt="Image 2">
                <img src="image3.jpg" alt="Image 3">
                <img src="image4.jpg" alt="Image 4">
              </div>
          <!-- Contenu de la section de gauche -->
        </div>
        <div class="center-section">
            <a href="./films.html"><h2>Liste des Films</h2></a>
        <ul>
        <li>DUNE</li>
        <img src="/img/dune.jpg" alt=""><br>

        <li>STAR TREK</li>
        <img src="/img/startrek.jpg" alt="">
        
        <li>Matrix I</li>
        <img src="/img/matrix.jpg" alt=""><br>
        
        <li>SEIGNEUR DES ANNEAUX</li>
        <img src="/img/seigneur.jpg" alt=""><br>

        <li>JUSTICE LEAGUE</li>
        <img src="/img/league.jpg" alt="">
        </ul>
        </div>
         
        <div class="right-section">
          <!-- Contenu de la section de droite -->
            <p>lorem*5</p>
        </div>   
      </div>
      <%- include('partials/footer.ejs') %>
    </body>
  </html>