<%- include('partials/header.ejs') %>
    
<section class="list-films list">
  <div class="list-title">Films</div>
  <div #swiperRef="" class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/dune.jpg" alt="Dune"></div>
      <div class="swiper-slide"><img src="/img/matrix.jpg" alt="Matrix"></div>
      <div class="swiper-slide"><img src="/img/seigneur.jpg" alt="Seigneur des anneaux"></div>
      <div class="swiper-slide"><img src="/img/startrek.jpg" alt="Startrek"></div>
      <div class="swiper-slide"><img src="/img/league.jpg" alt="League"></div>
    </div>
  
    <div class="swiper-pagination"></div>
  </div>
</section>
      <%- include('partials/footer.ejs') %>
    </body>
  </html>