<%- include('partials/header.ejs') %>


        <h1 id="title1">Se connecter</h1>

        <form action="#" aria-label="Informations de connection">
          <label for="email">Email</label>
          <input
            required
            name="email"
            type="email"
            id="email"
            placeholder="ex: m.dupont@gmail.com"
          />
          <label for="password">Mot de passe</label>
          <input
            required
            name="password"
            type="password"
            id="password"
            placeholder="*************"
          />
  
          <input type="submit" value="Se connecter" />
        </form>
<%- include('partials/footer.ejs') %>
