<%- include('partials/header.ejs') %>

           
<section class="list-series list">
  <div class="list-title">Séries</div>
  <div #swiperRef="" class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/gameofthrones.jpg" alt="Game Of Thrones"></div>
      <div class="swiper-slide"><img src="/img/stargate.jpg" alt="Stargate"></div>
      <div class="swiper-slide"><img src="/img/carbon.jpg" alt="Altered Carbon"></div>
      <div class="swiper-slide"><img src="/img/walking.jpg" alt="Walking Dead"></div>
      <div class="swiper-slide"><img src="/img/alice.jpg" alt="Alice in Bordeland"></div>
    </div>
   
    <div class="swiper-pagination"></div>
  </div>
</section>

      </div>
      <%- include('partials/footer.ejs') %>
    </body>
  </html>